#root {
  margin: 0 auto;
  text-align: left;
  min-width: 343px;
}

@import 'tailwindcss';

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f7fafc;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin-bottom: 12px;
}

nav li button {
  width: 100%;
  text-align: left;
  padding: 10px;
  font-size: 16px;
  color: #333;
}

nav li button:hover {
  background-color: #f0f0f0;
}

.customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  .customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  input {
  width: 100%;
}

.required {
  &:after {
    content: '*';
    display: inline-block;
    font-weight: bold;
    color: red;
    margin-left: 3px;
    margin-right: 3px;
  }
}
